### automation.yaml
- alias: Update notifications
  trigger:
    - platform: state
      entity_id: updater.updater
  action:
    service: notify.pushbullet
    data: 
      title: 'New Home Assistant Release'
      message: "Home Assistant  {{ states.updater.updater.state }}  is now available."

## Dash Button
- alias: Turn On/Off Bedroom Lamp
  hide_entity: True
  trigger:
    platform: event
    event_type: dash_mentos
  action:
    service: homeassistant.toggle
    entity_id: switch.aeotec_zw096_smart_switch_6_switch_2_0

- alias: Turn Porch Light On At Sunset
  hide_entity: True
  trigger:
    platform: sun
    event: sunset
  action:
    service: homeassistant.turn_on
    entity_id: switch.ge_12722_onoff_relay_switch_switch_4_0  
    
- alias: Turn Porch Light Off At Sunrise
  hide_entity: True
  trigger:
    platform: sun
    event: sunrise
  action:
    service: homeassistant.turn_off
    entity_id: switch.ge_12722_onoff_relay_switch_switch_4_0 

- alias: Turn Christmas Lights On At Sunset
  hide_entity: True
  trigger:
    platform: sun
    event: sunset
  action:
    service: homeassistant.turn_on
    entity_id: switch.ge_12720_outdoor_smart_switch_switch_12_0

- alias: Turn Christmas Lights Off At Midnight
  hide_entity: True
  trigger:
    platform: time
    after: '23:59:00'
  action:
    service: homeassistant.turn_off
    entity_id: switch.ge_12720_outdoor_smart_switch_switch_12_0 

- alias: Media Room Theater Lights - Adjust Brightness
  hide_entity: True 
  trigger:
    platform: state
    entity_id: input_slider.media_room_brightness
  action:
    - service: light.turn_on
      data_template:
        entity_id: light.ge_12724_3way_dimmer_switch_level_11_0
        brightness: '{{ trigger.to_state.state | int }}'

- alias: Bedroom Fan -  Off
  hide_entity: True
  trigger:
    platform: state
    entity_id: input_select.fan_speed
    to: "Off"
  action:
    service: light.turn_off
    entity_id: light.ge_12730_fan_control_switch_level_6_0

- alias: Bedroom Fan - High
  hide_entity: True
  trigger:
    platform: state
    entity_id: input_select.fan_speed
    to: "High"
  action:
    service: light.turn_on
    entity_id: light.ge_12730_fan_control_switch_level_6_0
    data:
      brightness: 254

- alias: Bedroom Fan - Medium
  hide_entity: True
  trigger:
    platform: state
    entity_id: input_select.fan_speed
    to: "Medium"
  action:
    service: light.turn_on
    entity_id: light.ge_12730_fan_control_switch_level_6_0
    data: 
      brightness: 150

- alias: Bedroom Fan - Low
  hide_entity: True
  trigger:
    platform: state
    entity_id: input_select.fan_speed
    to: "Low"
  action:
    service: light.turn_on
    entity_id: light.ge_12730_fan_control_switch_level_6_0
    data: 
      brightness: 30

- alias: Turn theater lights to 80 on motion if no activity
  trigger:
    platform: state
    entity_id: sensor.aeotec_zw100_multisensor_6_burglar_9_10
    from: '0'
    to: '8'
  condition:
    condition: state
    entity_id: sensor.media_room
    state: 'PowerOff'
  action:
    service: homeassistant.turn_on
    entity_id: script.timed_theater_lights

- alias: Alert on high Media Room temperature
  trigger:
    platform: numeric_state
    entity_id: sensor.aeotec_zw100_multisensor_6_temperature_9_1
    above: 80.0
  action:
    service: notify.pushbullet
    data: 
      title: 'Temperature alert'
      message: "Media Room Temperature above 80!"


- alias: Heal ZWave Nightly
  hide_entity: True
  trigger:
    platform: time
    after: '2:31:00'
  action:
    service: zwave.heal_network
    
- alias: Backup HA Configuration Files
  trigger:
    platform: time
    hours: 1
    minutes: 1
    seconds: 0 
  action:
    - service: shell_command.backup_configuration
    - service: shell_command.backup_group
    - service: shell_command.backup_customize
    - service: shell_command.backup_known_devices
    - service: shell_command.backup_automation
    - service: shell_command.backup_device_tracker
