homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret homeassistant_elevation
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  customize: !include customize.yaml

 

#Groups

group: !include group.yaml



# Show links to resources in log and frontend
# introduction:

media_player:
  - platform: roku

# Logitech Harmony Hub
remote:
  - platform: harmony
    name: media_room
    host: 10.9.21.28
    activity: 22937584

#Philips Hue

light:
  platform: hue
  host: 10.9.21.152
# Enables the frontend
frontend:

http:
  # Uncomment this to add a password (recommended!)
  api_password: !secret http_password

notify:
  platform: pushbullet
  api_key: !secret pushbullet_api
  name: pushbullet

# Emulated Hue
emulated_hue:
  host_ip: 10.9.21.150

# Automation Section

automation: !include automation.yaml


# Checks for available updates
updater:

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
#conversation:

# Enables support for tracking state changes over time.
history:
  exclude:
    entities:
      - sensor.large_garage_door_time_in_state
      - sensor.large_garage_door_wifi_signal_strength
      - sensor.dark_sky_apparent_temperature
      - sensor.dark_sky_temperature
      - sensor.dark_sky_daily_high_apparent_temperature
      - sensor.dark_sky_cloud_coverage
      - sun.sun

recorder:
  # Delete events and states older than 1 weeks
  purge_days: 7

# View all events in a logbook
logbook:
  exclude:
    entities:
      - sensor.large_garage_door_time_in_state
      - sensor.large_garage_door_wifi_signal_strength
      - sensor.dark_sky_apparent_temperature
      - sensor.dark_sky_temperature
      - sensor.dark_sky_daily_high_apparent_temperature
      - sensor.dark_sky_cloud_coverage
      - sun.sun

# Track the sun
sun:

# Weather Prediction
sensor:
  - platform: darksky
    api_key: !secret darksky_api
    monitored_conditions:
      - summary
      - icon
      - nearest_storm_distance
      - nearest_storm_bearing
      - precip_type
      - precip_intensity
      - precip_probability
      - temperature
      - apparent_temperature
      - cloud_cover
      - humidity
      - minutely_summary
      - hourly_summary
      - daily_summary
      - temperature_max
      - temperature_min
      - apparent_temperature_max
      - apparent_temperature_min

  - platform: template
    sensors:
      media_room:
        value_template: '{{ states.remote.media_room.attributes.current_activity }}'
        friendly_name: 'Media Room'
      large_garage_door_status:
        friendly_name: 'State of the door'
        value_template: '{{ states.cover.large_garage_door.state }}'
      large_garage_door_time_in_state:
        friendly_name: 'Since'
        value_template: '{{ states.cover.large_garage_door.attributes["time in state"] }}'
      large_garage_door_wifi_signal_strength:
        friendly_name: 'WiFi strength'
        value_template: '{{ states.cover.large_garage_door.attributes["wifi signal strength (dB)"] }}'
        unit_of_measurement: 'dB'
      large_garage_door_reflection_rate:
        friendly_name: 'Reflection Rate'
        value_template: '{{ states.cover.large_garage_door.attributes["sensor reflection rate"] }}'

#Plex Media Server

  - platform: plex
    host: 10.9.21.2

# Sonarr
  - platform: sonarr
    api_key: !secret sonarr_api
    host: 10.9.21.2
    monitored_conditions:
      - series
      - upcoming
      - wanted
      - queue
      - commands
      - diskspace
    days: 3

# nzbget
  - platform: nzbget
    host: 10.9.21.2
    username: !secret nzbget_username
    password: !secret nzbget_password
    monitored_variables:
      - average_download_rate
      - download_rate
      - download_size
      - free_disk_space
      - remaining_size
      - uptime


zwave:
  usb_path: /dev/zwave
  config_path: /srv/homeassistant/homeassistant_venv/lib/python3.4/site-packages/libopenzwave-0.3.1-py3.4-linux-armv7l.egg/config

#input_select for Bedroom Fan
input_select:
  fan_speed:
    name: Bedroom Fan Speed
    options:
     - "Off"
     - Low
     - Medium
     - High
    initial: Medium
    icon: mdi:fan

#garage door opener/sensor

cover:
  platform: garadget
  covers:
    !secret garadget_large_door:
      username: !secret garadget_username
      password: !secret garadget_password
      name: Large Garage Door

#input_slider for theater lights

input_slider:
   media_room_brightness:
    name: Brightness
    initial: 20
    min: 0
    max: 254
    step: 1
    icon: mdi:brightness-6

# Device Tracker
device_tracker: !include device_tracker.yaml

#MQTT
mqtt:
  broker: m13.cloudmqtt.com
  port: 23219
  username: !secret cloudmqtt_username
  password: !secret cloudmqtt_password

#Scripts

shell_command:

# Config Backup

  backup_configuration: cp -a /home/homeassistant/.homeassistant/configuration.yaml "/home/homeassistant/backup/configuration.yaml-$(date +"%m%d%Y-%H%M")"
  backup_group: cp -a /home/homeassistant/.homeassistant/group.yaml "/home/homeassistant/backup/group.yaml-$(date +"%m%d%Y-%H%M")"
  backup_customize: cp -a /home/homeassistant/.homeassistant/customize.yaml "/home/homeassistant/backup/customize.yaml-$(date +"%m%d%Y-%H%M")"
  backup_known_devices: cp -a /home/homeassistant/.homeassistant/known_devices.yaml "/home/homeassistant/backup/known_devices.yaml-$(date +"%m%d%Y-%H%M")"
  backup_device_tracker: cp -a /home/homeassistant/.homeassistant/device_tracker.yaml "/home/homeassistant/backup/device_tracker.yaml-$(date +"%m%d%Y-%H%M")"
  backup_automation: cp -a /home/homeassistant/.homeassistant/automation.yaml "/home/homeassistant/backup/automation.yaml-$(date +"%m%d%Y-%H%M")"

script:
  backup:
    alias: Backup HA Configuration Files
    sequence:
      - service: shell_command.backup_configuration
      - service: shell_command.backup_group
      - service: shell_command.backup_customize
      - service: shell_command.backup_known_devices
      - service: shell_command.backup_automation
      - service: shell_command.backup_device_tracker
